h1, h3, p, label {
    color: #2fc46d; 
    font-family: impact, fantasy, serif;
    letter-spacing: 1.5px; 
}

.heading {
    background-color: rgba(22, 45, 27, 0.9);
    border-radius: 10px;
    width: fit-content;
    padding: 0 1% 0 1%;
    margin: 0 auto 0 auto;
}

.body { 
    background-image: url("https://i.imgur.com/GIQYelf.jpg?2");
    background-color: #108769;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 35%;
    background-attachment: fixed;
    text-align: center;
}


.form-layout {
    background-color: rgba(22, 45, 27, 0.9);
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.selection-style {
    display: block;
    width: 65%;
    margin: 0 auto 2rem auto;
}

.form-inputs {
    margin: 0.75rem auto .75rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    width: 45%;
    margin: 3.125rem auto 0 auto;
    padding: 0 1rem 0 1rem;
}



